@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 40px;
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
        .welcome {
            position: absolute;
            left: 50%;
            margin-left: -225px;
            .words {
                overflow: hidden;
                position: relative;
                float: right;
                height: 45px;
                padding-top: 10px;
                margin-top: -10px;
                ul {
                    animation: flip 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
                    li {
                        font-weight: 700;
                        padding: 0 10px;
                        height: 45px;
                        margin-bottom: 45px;
                        display: block;
                        &.green {
                            color: #00b882;
                        }
                        &.blue {
                            color: #002748;
                        }
                        &.orange {
                            color: #ffb00e;
                        }
                    }
                }
            }
        }
        .response {
            background-color: #eee;
            text-align: center;
            margin: 0 auto;
            margin-top: 70px;
            height: 500px;
            width: 500px;
            overflow-y: scroll;
            code {
                font-size: 20px;
            }
        }
    }
}

@keyframes flip {
    0% {
        margin-top: -270px;
    }
    5% {
        margin-top: -180px;
    }
    33% {
        margin-top: -180px;
    }
    38% {
        margin-top: -90px;
    }
    66% {
        margin-top: -90px;
    }
    71% {
        margin-top: 0px;
    }
    99.99% {
        margin-top: 0px;
    }
    100% {
        margin-top: -270px;
    }
}
